<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.rutgers.ece453.rupool">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCSJbs4ekFG_CiTRcr4jIVRWXZGPJ0JW30" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Log in" />
        <activity
            android:name=".SignUpActivity"
            android:label="Sign Up" />
        <activity
            android:name=".WaitingEmailVerifyActivity"
            android:label="Please Verify Email" />
        <activity
            android:name=".ShowProfileActivity"
            android:label="Profile" />
        <activity
            android:name=".EditProfileActivity"
            android:label="Edit Profile" />
        <activity android:name=".ResetPasswordActivity" />
    </application>

</manifest>